#img1{
	height: 80px;
	width: 120px;
}

#div1{
	position: relative;
}

#topright{
	position: absolute;
	top: 10px;
	right: 55px;	
	color: black;
}

#menu_clr{
	position: absolute;
	top: 90px;
	right: -15px;
}

#header{
	height: 35px;
	width: 1600px;
	z-index: -1;
}

#menuopt{
	position: absolute;
	top: 500px;

}

#menu1{
	position: absolute;
	top: 80px;
	color: white;
	left: 10px;
}

#menu2{
	position: absolute;
	top: 80px;
	color: white;
	left: 100px;
}

a:visited{
	color: white;
}

#txt0{
	position: absolute;
	/*top: 15px;*/
	color: purple;
}

#txt1{
	position: absolute;
	top: 140px;
	color: black;
}

#tble{
	position: absolute;
	top: 190px;
	color: black;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

th,td{
	padding: 10px;
}

#txt2{
	position: absolute;
	top: 340px;
	color: black;
}

#txt3{
	position: absolute;
	top: 400px;
	color: black;
}

#myPic{
	position: absolute;
	top: 180px;
	right: 80px;
	height: 150px;
	width: 150px;
}