#img1{
	height: 80px;
	width: 120px;
}

#div1{
	position: relative;
}

#topright{
	position: absolute;
	top: 10px;
	right: 55px;	
	color: black;
}

#menu_clr{
	position: absolute;
	top: 90px;
	right: -15px;
}

#header{
	height: 35px;
	width: 1600px;
	z-index: -1;
}

#menuopt{
	position: absolute;
	top: 500px;

}

#menu1{
	position: absolute;
	top: 80px;
	color: white;
	left: 10px;
}

#menu2{
	position: absolute;
	top: 80px;
	color: white;
	left: 100px;
}

/*a:visited{
	color: white;
}*/

.link{
	color: white;
}

.link2{
	color:black;
}

#txt0{
	position: absolute;
	/*top: 15px;*/
	color: purple;
}

/*#frm{
	position: absolute;
	top: 500px;
}
*/
/*#form_div{
	position: absolute;
	top: 500px;
}*/


#tbl{
	border: none;

}

th, td {
  padding: 10px;
}

